<!DOCTYPE html>
<html ng-app="metOcean">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  </head>
  <body>




	<div ng-controller="chartController">
	  <h1>Today's Chart {{dbData[0].dados.Time}}</h1>
	  <div linear-chart chart-data="dados()"></div>
	</div>



	<script src="./javascripts/chartController.js"></script>
  </body>
</html>